{% extends "layout.html" %}

{% block heading %}
    It doesn't seem you are in the records...
    <p> </p>
    Please fill the details below...:
{% endblock %}

{% block body %}
    <form action="{{ url_for('details') }}" method="post">
        <input type="text" name="name" placeholder="Enter Your Name Again:">
        <p> </p>
        <input type="text" name="month" placeholder="Enter Your Month of Birthday:">
        <p> </p>
        <input type="text" name="date" placeholder="Enter the date (dd) of Birthday:">
        <p> </p>
        <button>Submit</button>
    </form>
{% endblock %}
